<!DOCTYPE html>
<html lang="en">
	<head><% include partials/template/head.ejs %></head>
	<body class="<%= page %>">
		
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <% include partials/template/nav.ejs %>
        </nav>
		
		<header id="conCarousel" data-interval="5000" data-ride="carousel" class="carousel slide">
            <% include partials/template/headercasemgmt.ejs %>
        </header>

		<div class="conSections">
			
			<section>
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img class="shadowImgLeft" src="/images/product/fastsearch.png" alt="">
						</div>
						<div class="col-lg-6">
							<h2 class="headersProduct" style="text-align:center;">Effective, Faster case investigations</h2>
							<p>
								<ul>
									<li>Simple, effective and slick interface to manage cases from it&apos;s inception to resolution</li>
									<li>Summary of cases with vital information on the screen</li>
									<li>Efficient and faster search engine and intuitive  filters to locate cases.</li>
									<li>Drag and drop the documents, evidences such as video clips, images to specific cases with preview images</li> 
								</ul>
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="gradBackground">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h2 class="headersProduct" style="text-align:center;">Strong Collaboration</h2>
							<p>
								<ul>
									<li>Get automatically notified via Email or Pop-up notifications when your attention is required in an investigation or case.</li>
									<li>Engage team members by just tagging their names in the notes, which notifies them via emails. </li>
									<li> Enable collective efforts allowing teams to add comments on the cases</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-6">
							<img class="shadowImgRight" src="/images/product/colaboration.png" alt="">
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img class="shadowImgLeft" src="/images/product/tracking.png" alt="">
						</div>
						<div class="col-lg-6">
							<h2 class="headersProduct" style="text-align:center;">Vigilant tracking of tasks/activities</h2>
							<p>
								<ul>
									<li>Keeps a track of individual activities such as interview scheduled or a case follow-up with third parties involved</li>
									<li>Generate reminders, alerts for overdue tasks.</li>
									<li>Automatic case status updates as you progress through the case investigation. </li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="gradBackground">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h2 class="headersProduct" style="text-align:center;">Standardized reports</h2>
							<p>
								<ul>
									<li>Create and print consistent case summary reports with just a click.</li>
									<li>Dynamic dashboard gives you an insight into trends and issues in your organization, to identify risks. </li>
									<li>Generate individual reports to understand investigator team&apos;s productivity</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-6">
							<img class="shadowImgRight" src="/images/product/report.png" alt="">
						</div>
					</div>
				</div>
			</section>
			
			
			<section>
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img class="shadowImgLeft" src="/images/product/contextine-page.png" alt="">
						</div>
						<div class="col-lg-6">
							<h2 class="headersProduct" style="text-align:center;">Cloud presence</h2>
							<p>
								<ul>
									<li> Secured and High availability of current and historical cases accessible at centralized location from any location through a web browser.</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="gradBackground">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="headersProduct" style="text-align:center;">Coming Soon</h2>
							<p>
								<h3>Customize your screens and workflows</h3>
								<ul>
									<li>Customize the fields, screens and the workflows as per your requirements.</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</section>
			
			
		</div>
        <% include partials/template/footer.ejs %>
		<% include partials/template/scripts.ejs %>
	</body>
</html>
