<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="page-top" class="<%= page %>">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <% include partials/template/nav.ejs %>
    </nav>

    <header style="min-height: 70px;background-color: black;">
    </header>
  
    <!-- Page Heading/Breadcrumbs -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Company Profile</h2>
				</div>
				<div class="col-md-12">
					<p>
						Contextine is into building Case Management applications for financial institutions, Retail sector and others to help manage and track case investigations. Case Management Application allows you complete the cases investigations from it's inception to the closure with simplicity and efficiency in the investigation process.
					</p>
					<p>
						Contextine builds applications into Solink platform that help businesses manage and leverage their video data in new and exciting ways.
					</p>
					
					<p>Contextine is headquartered in Pune, India.</p>
				</div>

				<div class="col-lg-12">
					<h2 class="page-header">Vision</h2>
				</div>
				<div class="col-md-12">
					<p>
						We want to enable all of our customers to manage their data in a better and exciting ways. We want to be the leading provider of case management applications, cover all aspects of customer's businesses, and be known as one of India's great companies.
					</p>
				</div>

				<div class="col-lg-12">
					<h2 class="page-header">Mission</h2>
				</div>
				<div class="col-md-12">
					<p>
						Contextine Solutions is committed to provide innovative solutions and best value to the customers.
					</p>
				</div>
			</div>
		</div>
	</section>
	
    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>
  </body>

  
</html>