<!DOCTYPE html>
<html>
	<head><% include partials/template/head.ejs %></head>
	<body class="<%= page %>">
		
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
            <% include partials/template/nav.ejs %>
        </nav>
		
		<header style="min-height: 70px;background-color: black;">
        </header>
		
		<section class="gradBackground">
			<!-- Page Content -->
			<div class="container">
				
				<div class="row">
					<!-- Map Column -->
					<div class="col-md-8">
						<!-- Embedded Google Map -->
						<!--iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=18.5124146,73.7755627&amp;spn=56.506174,73.7755627&amp;t=m&amp;z=4&amp;output=embed"></iframe> -->
						 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;width:600px;"><div id="gmap_canvas" style="height:500px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.map-embed.com" id="get-map-data">http://www.map-embed.com/</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(18.512325339525116,73.77604548867725),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(18.512325339525116, 73.77604548867725)});infowindow = new google.maps.InfoWindow({content:"<b>Kapil Zenith</b><br/><br/>411021 Pune" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>    
					   

					</div>
					<!-- Contact Details Column -->
					<div class="col-md-4">
						<h2>Contact Details</h2>
						<p>
							Kapil Zenith IT Park, 303, Behind<br>Maratha Mandir Bavdhan Pune,<br>Maharashtra 411021 India<br>
						</p>
						<p><i class="fa fa-phone"></i> 
							<abbr title="Phone">P</abbr>: +91 20 6654 0109</p>
						<p><i class="fa fa-envelope-o"></i> 
							<abbr title="Email">E</abbr>: <a href="mailto:info@contextine.com">info@contextine.com</a>
						</p>
						<p><i class="fa fa-clock-o"></i> 
							<abbr title="Hours">H</abbr>: Monday - Friday: 10:00 AM to 6:00 PM</p>
						<ul class="list-unstyled list-inline list-social-icons">
						  <li>
							  <a href="https://www.linkedin.com/company/contextine-solutions-llp" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
						  </li>
						  <li>
							  <a href="http://www.twitter.com/contextine" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
						  </li>

						  <!--li>
							  <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
						  </li>-->
					  </ul>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</section>
				
		<% include partials/template/footer.ejs %>
		<% include partials/template/scripts.ejs %>
		
	</body>
</html>
