<!DOCTYPE html>
<html lang="en">
	<head><% include partials/template/head.ejs %></head>
	<body class="<%= page %>">
		
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
            <% include partials/template/nav.ejs %>
        </nav>
		
		<header id="conCarousel" data-interval="5000" data-ride="carousel" class="carousel slide">
            <% include partials/template/headerproduct.ejs %>
        </header>
		
		<div class="conSections">
			<section>
				<!-- Page Content -->
				<div class="container ">
					<div class="row">
						<div class="col-lg-6">
							<img class="shadowImgLeft" style="width:90%;" src="/images/product/contextine-page.png" alt="">
						</div>
						<div class="col-lg-6">
							<div>
								<h2 class="headersProduct">Discover Frauds</h2>
								<p>Scrutinize 100% of your transactions for suspicious events, automatically.</p>
							</div>
							<div>
								<h2 class="headersProduct">Fast Evidence Retrieval</h2>
								<p>Retrieve evidence with just a type and click using our intelligence video timeline.</p>
							</div>
							<div>
								<h2 class="headersProduct">360&deg; Incident Management</h2>
								<p>One simple interface to manage complete investigation.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="gradBackground">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="headersProduct" style="text-align:center;">Fraud Prevention as a service</h2>
							<p>Contextine&apos;s comprehensive platform automatically scrutinize 100% of all transactions detects those potential fraud which could usually take days or months to discover. Our video discovery applications creates an intelligent video timeline to highlight the events that matter most to your business. Once potential fraud has been identified, our event management application provides all of the tools you need to take a case from discovery to resolution.</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="prodVideoDisc">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div>
								<h2>Video Discovery</h2>
								<ul>
									<li>Review your video quickly with ease by creating an intelligent timeline of your business crucial event.</li>
									<li>Filtered and highlighted view of Important transactional and analytics events on an interactive timeline allowing users to find the information they need with minimal effort.</li>
									<li>Drill down to the root cause of potential problems with the help of surrounding events on the video timeline; get the evidence you need fast.</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<img class="shadowImgRight" src="/images/product/contextine-videdisc.png" alt="">
						</div>
					</div>
				</div>
			</section>
			
			<section class="gradBackground">
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img class="shadowImgLeft" src="/images/product/contextine-casemgmt.png" alt="">
						</div>
						<div class="col-lg-6">
							<div>
								<h2 class="headersProduct">Case Management</h2>
								<ul>
									<li>Complete investigations happen on a single platform: from identifying suspicious events to collecting and sharing evidence for escalating investigations.</li>
									<li>Multiple events details can be linked together to a single case view.</li>
									<li>Assign users to cases, track and report on progress.</li>
									<li>Create collaboration instances in platform to work intelligently with your team.</li>
									<li><a href="/product/casemanagement">More...</a></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<!-- Page Content -->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div>
								<h2 class="headersProduct" style="text-align:center;">Say Good by to End-of-Life</h2>
								<p style="text-align:center;">
									Businesses should not have to worry about video hardware. Their focus should be on the video content that is recorded and how it can be leveraged to help improve business. Contextine puts video data ahead of video hardware.
									Quarterly software updates are pushed directly to edge recording devices. 
									Receive automated health monitoring and notifications via email and SMS text. 
									A free video recording device comes with a one year subscription to the Contextine Platform.
									Contextine&apos;s software solution is network security and IT friendly 
								</p>
							</div>
						</div>
						<div class="row">
						</div>
						<div class="col-lg-12">
							<div class="col-lg-4">
								<img class="fixWidthLeft" src="/images/misc/finance.png" alt="">
								<h3 class="headersProduct" style="text-align:center;">Financial Institutions</h3>
								<p style="text-align:center;">Contextine provides financial institutions access to real-time, complete and, above-all, actionable information.</p>
							</div>
							<div class="col-lg-4">
								<img class="fixWidthLeft" src="/images/misc/retail.png" alt="">
								<h3 class="headersProduct" style="text-align:center;">Retail Markets</h3>
								<p style="text-align:center;">Retail stores can tap into their vast amount of video and get the right data at the right time.</p>
							</div>
							<div class="col-lg-4">
								<img class="fixWidthLeft" src="/images/misc/quickservice.png" alt="">
								<h3 class="headersProduct" style="text-align:center;">Quick Service</h3>
								<p style="text-align:center;">Quick Service Restaurants can measure and compare performance metrics across all locations from one central platform.</p>
							</div>	
						</div>
					</div>
				</div>
			</section>
		</div>
        <% include partials/template/footer.ejs %>
		<% include partials/template/scripts.ejs %>
	</body>
</html>
