<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="page-top" class="<%= page %>">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <% include partials/template/nav.ejs %>
    </nav>

    <header style="min-height: 70px;background-color: black;">
    </header>
  
    <!-- Page Heading/Breadcrumbs -->
	<section>
		<div class="container">
			<div class="row">
				<div>
					<h3 style="text-align:center;margin-bottom:40px;">Request a custom demo of the Contextine Products</h3>
					<p style="text-align:center; color:red; margin-top:20px;"><%= data.error %></p>
				</div>
				<div class="form-group col-lg-4">
				</div>
				<div class="form-group col-lg-4">
					<form role="form" method="post">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Name" value='<%= data.name %>' required>
						</div>

						<div class="form-group">
							<label for="email">Business Email</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Business Email" value='<%= data.email %>' required>
						</div>

						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" value='<%= data.phone %>' required>
						</div>

					   <div class="form-group">
							<label for="company">Company</label>
							<input type="text" class="form-control" id="company" name="company" placeholder="Company" value='<%= data.company %>' required>
						</div>
						<button class="btn btn-primary" type="submit" value="Submit">Submit</button>
					</form>
				</div>
				<div class="form-group col-lg-4">
				</div>
			</div>
		</div>
	</section>
	<section>
	</section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>
  </body>

  
</html>