<footer class="site-footer">
	<div class="site-footer-follow-us">
		<h2 class="h5 space-4 hide-sm">Follow Us On</h2>
	    <ul class="list-layout list-inline">
		  	<li>
			<a href="https://www.linkedin.com/company/contextine-solutions-llp" class="followus" target="_blank">
				<i class="fa fa-linkedin-square fa-2x wow bounceIn followus-icon" style="color:#3B5998;" data-wow-delay=".1s"></i>
			</a>    
			</li>
			<li>
			  	<a href="https://twitter.com/contextine" class="followus" target="_blank">
					<i class="fa fa-twitter fa-2x wow bounceIn followus-icon" style="color:#00aced;" data-wow-delay=".1s"></i>
				</a>        
			</li>
		</ul>
	</div>

    <div class="footer-links">
	  	<p>
	  		<a href="/contact">Contact Us</a> | <a href="/company">Company</a>
	  	</p>
	</div>
	<div class="site-copyright">
	   	<p>
	   		Copyright &copy; <a href="https://www.contextine.com/">CONTEXTINE</a>. All Rights Reserved.
	   	</p>
    </div>
</footer><!-- footer -->