    <ol class="carousel-indicators">
        <li data-target="#conCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#conCarousel" data-slide-to="1"></li>
        <li data-target="#conCarousel" data-slide-to="2"></li>
        <li data-target="#conCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url(/images/misc/casemgmt.jpg);"></div>
            <div class="carousel-caption">
                <h2 style="color: coral;">Prevent Fraud, Use Contextine </h2>
				<h3 style="margin-top:20px;">Discover context before you detect incidents</h3>
				<a style="margin-top:20px;" href="/requestdemo" class="btn btn-default" role="button"> 
					Request Demo
                </a>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#conCarousel" data-slide="prev">
        <!--<span class="icon-prev"></span>-->
    </a>
    <a class="right carousel-control" href="#conCarousel" data-slide="next">
        <!--<span class="icon-next"></span>-->
    </a>