        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMain">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand page-scroll pull-left" title="Contextine" href="/">
					<img src="/images/logo/contextine-logo.png" alt="">
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="nav navbar-nav navbar-right">
					<!--
                    <li>
						<a href="/product">Product</a>
					</li>
                    -->
                    <li>
                        <a href="/company">Company</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <!--
                    <li class="dropdown">
                        <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown">About&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/about">Company</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </li>
                    -->
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        