	<!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    
    <!-- Script to Activate the Carousel -->
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        })

         // Offset for Main Navigation
        $('#mainNav').affix({
            offset: {
                top: 100
            }
        })
    </script>