/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 18px;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h1,
h2
{
   color:coral;
}

li{
    margin:10px;
    font-size: 18px;
    line-height:24px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}


.conSections img.shadowImgLeft{
    //-webkit-box-shadow: -5px 5px 2px 0px #888888;
    //-moz-box-shadow: -5px 5px 2px 0px #888888;
    //box-shadow: -5px 5px 2px 0px #888888;
    margin-top: 10px;
    width:100%;
    background:transparent;
}

.conSections img.shadowImgRight{
    margin-top: 10px;
    //box-shadow: 5px 5px 2px #888888; 
    width:100%;
    background:transparent;
    float: right;
}

.conSections img.fixWidthLeft{
    margin-top: 10px;
    background:transparent;
    height:180px;
    margin-left: 23%;
}

.gradBackground{
    background: rgba(224, 224, 224, 0.6);
}

.conSections p{
    font-weight: 400;
    font-size: 18px;
}

.conSections h2{
    margin-top: 0px;
    margin-bottom: 20px;
    color:#F14C0F;
}

aside {
    padding: 50px 0;
}


.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand img{
    min-width:15%;
    min-height:15%;
    width:50%;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

/* Home Page Carousel */ 
@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }


    .navbar-nav > li{
        height: 60px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #000;
        color:#fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #000;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default .navbar-header .navbar-brand img {
        width: 100%;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #fff;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

header.carousel {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

header .carousel-caption{
    top:10%;
}

header .carousel-caption a{
    color: #ffffff;
    background: transparent;
    border-color: #0099ff;  
    border: solid;
}

header .carousel-caption a:visited, 
header .carousel-caption a:active {
    text-decoration: none;
}

header .carousel-caption > h1{
   font-size: 1.5em;
}

header .carousel-caption > h2{
    font-size: 1.3em;
}

header .carousel-caption > h3{
    font-size: 0.8em;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}


.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar-nav>li>.dropdown-menu{
    
}

.carousel-indicators{
    display: none;
}

@media(min-width:768px) {
    header {
        min-height: 1%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    header.carousel .carousel {
        height: 70%;
    }

    header .carousel-caption{
        top:40%;
    }

    header .carousel-caption > h1{
       font-size: 3.33em;
       display:block;
    }

    header .carousel-caption > h2{
       font-size: 3.00em;
    }

    header .carousel-caption > h3{
       font-size: 1.33em;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media screen and (min-height: 600px) and (max-height: 900px){
    header .carousel-caption{
        top:20%;
    }

    header .carousel-caption > h1{
       font-size: 2.00em;
    }

    header .carousel-caption > h2{
       font-size: 1.80em;
    }

    header .carousel-caption > h3{
       font-size: 1.0em;
    }
}

.section-heading {
    margin-top: 0;
    min-height: 50%;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}


.site-footer {
    background: #222;
    color: #a9a9a9;
    text-align: center;
    padding: 1em;
    position: relative;
    z-index: 10;
    clear: both;
    bottom: 0;
    width: inherit;
}

/*
.site-footer .site-footer-follow-us a{
    text-align: center;
    height: 30px;
    width: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    display: block;
    color: #fff;
}
*/

.site-footer .site-footer-follow-us a{
    text-align: center;
    height: 30px;
    width: 30px;
    border: none;
    border-width: 1px;
    border-style: none;
    
    display: block;
    color: #fff;
}

.site-footer .site-footer-follow-us{
    display: none;
}

.followus-icon{
    padding: 6px;
    color:#00aced;
}

.site-copyright{
    color: #a9a9a9;
}

.site-copyright p{
    margin-bottom: 0px;
    font-size: 8px;
}

.site-copyright a{
    color: #337ab7;
    font-size: 8px;
}

.footer-links{
    display: none;
    font-size: 13px;
    color: #a9a9a9;
}

.footer-links p{
    margin-bottom: 5px;
    color: #a9a9a9;
}

.footer-links a{
    color: #337ab7;
}

.contact {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.contact .p, 
.contact textarea, 
.contact input[type="text"], 
.contact input[type="email"], 
.contact input[type="tel"]{
  *zoom: 1;
  width:80%;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}



@media(min-width:768px) {
    .contact .p, 
    .contact textarea, 
    .contact input[type="text"], 
    .contact input[type="email"], 
    .contact input[type="tel"]{
      *zoom: 1;
      width:40%;
      max-width:400px;
      padding-left: 1em;
      padding-right: 1em;
      margin-left: auto;
      margin-right: auto;
    }
}

@media(min-height:768px) {
    .site-footer .site-footer-follow-us{
        display: block;
    }

    .footer-links{
        display: block;
        font-size: 13px;
        color: #a9a9a9;
    }

    .site-copyright p{
        margin-bottom: 0px;
        font-size: 10px;
    }

    .site-copyright a{
        color: #337ab7;
        font-size: 10px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}