/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

h1, h2, h3, h4, h5, h6{
    color:#2980ba !important;
}

p{
    font-size: 18px;
    color:#545454 !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin-top:150px;
    padding:18px 10px 12px;
    border-top:1px solid #4b4c4d;
    background-color: #222 !important;
    width:100%;
    overflow:hidden;
}

footer p{
    font-size: 14px;
    color:#2980ba !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}


.panel-body ul li{
    font-size: 18px;
    color:#545454 !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.productSolutions{
    background-color:#ECF0F1 !important;
    min-height:150px;
}
/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}