<article id="whoarewe">
  
    <p>Contextine Solutions brings you a technology called Contextual Video Analytics to combine the video and the data from different input sources to discover and measure the right things in your organization. It goes beyond the traditional usage of video cameras where emphasize is given just to record the videos. Contextual Analytics add an intelligence to your video by combining the transactional data with the video and helps you to measure the right thing.</p>
</article><!-- article -->